@charset "UTF-8";

// Google fonts "Noto Sans JP", "Atkinson Hyperlegible Mono"
@font-face {
	font-family: "Noto Sans JP";
	src: url("./vendor/fonts/NotoSansJP-Regular.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson Hyperlegible Mono";
	src: url("./vendor/fonts/AtkinsonHyperlegibleMono-Regular.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

// 既定色
$bg_color: #f9fafb;
$default_color: #2d8efd;
$tab_bg_color: #f2f6ff;
$tab_border_color: #909595;
$light_color: #4aa3f8;
$dark_color: rgba(45, 142, 253, 0.35);
$font_color: #111827;

$footer_height: 36px;
$default_font: "Noto Sans JP", sans-serif;
$mono_font: "Atkinson Hyperlegible Mono", monospace;

@mixin icon_ext_link($color: "000") {
	padding-right: 14px;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23#{$color}"><path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/><path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/></svg>');
	background-size: 12px;
	background-position: right 33.33%;
	background-repeat: no-repeat;
}

body {
	margin: 16px auto;

	background-color: $bg_color;
	font-family: $default_font;
	font-size: 0.93rem;
	color: $font_color;

	-webkit-font-smoothing: antialiased;
}

@media (min-width: 959.98px) {
	body {
		max-width: 960px;
	}
}

a {
	color: $default_color;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		color: $light_color;
	}

	&[target=_blank][rel=nofollow] {
		@include icon_ext_link("2d8efd");
	}
}

pre {
	&.result-mono {
		background: #eee;
		padding: 1rem;
		font-family: $mono_font system-ui monospace;
		white-space: pre-wrap;
		word-break: break-all;
	}
}

h1 {
	margin-bottom: 8px;

	a {
		color: black;

		&:hover{
			color: black;
		}
	}
}

h2 {
	margin-bottom: 16px;
	font-size: 1.1rem;
	color: green;
}

h3 {
	font-size: 1.15rem;
}

h4 {
	&.pre-title {
		font-size: 0.88rem;
	}
}

footer {
	text-align: right;
	font-size: 0.67rem;
	border-top: 1px solid #eaeaea;
	background-color: $bg_color;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	color: #a5a5a5;

	width: 100%;
	height: $footer_height;
	margin: 0;
	padding: 8px .88%;

	position: fixed;
	bottom: 0;
	left: 0;

	p {
		i {
			margin-right: 6px;
		}
	}

	.disclaimer {
		color: #aaaacc;

		// 表示はしない
		p {
			display: none;
		}
	}

	ul.copy-links {
		list-style: none;

		& li {
			padding: 0 4px;

			&:not(:first-child) {
				border-left: 1px solid #a5a5a5;
			}

			a {
				text-decoration: none;
			}

			a:hover {
				color: #6585ff;
			}

			i {
				margin-right: 4px;
			}
		}
	}
}

/* iOS Safari限定フォールバック */
@supports (-webkit-backdrop-filter: none) {
	footer {
		-webkit-backdrop-filter: blur(4px);
		backdrop-filter: blur(4px);
	}

	.form-control {
		&:focus {
			box-shadow: 0 0 3px $dark_color;
		}
	}
}

#content {
	padding-bottom: $footer_height + 16px !important;

	#generate-field {
		input#url::placeholder {
			color: #d5d8db;
		}

		#selectMode {
			border-bottom: 1px solid $tab_border_color;

			li {
				button {
					&.active {
						background-color: $tab_bg_color;
						border: 1px solid $tab_border_color;
						border-bottom: 1px solid $tab_bg_color; // 色上書き
					}
					&:not(.active) {
						color: #878787;

						&:hover {
							background-color: #f4f4f8;
							border: 1px solid #c0c5c5;
						}
					}
				}
			}
		}

		#selectModeContent {
			background-color: $tab_bg_color;

			border: 1px solid $tab_border_color;
			border-top: none; //上は不要
			border-radius: 0 0 4px 4px;

			padding: 16px 8px 8px;
		}
	}

	#readme-field {
		border-top: 1px solid $tab_border_color;;
		margin-top: 48px;
		padding-top: 24px;


		dl {
			dt {
				margin-top: 1rem;

				font-size: 1.15rem;
				font-weight: bold;
			}
			dd {
				margin-left: 2rem;

				ul, ol {
					padding-left : 1rem;
				}
			}
		}
	}
}

.mono-font {
	font-family: $mono_font;
}